*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/JavaServer/ContactManagerServer/nbproject/private/
/JavaServer/ContactManagerServer/build/
/JavaServer/WebServicesTest/nbproject/private/
/JavaServer/ContactManagerServer/dist/
/JavaServer/WebServicesTest/build/
/JavaServer/WebServicesTest/dist/
/JavaServer/WebApplicationTest/nbproject/private/
/JavaServer/ContactManagerServer/target/
/JavaServer/WebApplicationTest/build/
/JavaServer/WebApplicationTest/dist/